<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Server=TECHCOMPILER-32\SQLEXPRESS;Database=axiprod;User ID=sa;Password=sa123;"-->
		<add name="ConnectionString" connectionString="Server=TECHCOMPILER-32;Database=axiprod;Trusted_Connection='True';"
			 
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>